/.BareBonesRuntimeModule.java._trace
/.BareBonesStandaloneSetup.java._trace
/.BareBonesRuntimeModule.xtendbin
/.BareBonesStandaloneSetup.xtendbin
/BareBonesRuntimeModule.java
/BareBonesStandaloneSetup.java
