/.BareBonesDescriptionLabelProvider.java._trace
/.BareBonesLabelProvider.java._trace
/.BareBonesDescriptionLabelProvider.xtendbin
/.BareBonesLabelProvider.xtendbin
/BareBonesDescriptionLabelProvider.java
/BareBonesLabelProvider.java
